body {
    margin:0;
    padding: 0;
    background: linear-gradient(to bottom right, red, yellow);
}

#main{
    width:350px;
    height: 420px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:#162528;
    border-radius: 10px;
}

#calc{
    outline:none;
    background:gray;
    position: absolute;
    top:5%;
    left:9%;
    width:290px;
    height: 50px;
    text-align: left;
    color:white;
    font-size:25px;
    font-family: 'Courier New', Courier, monospace;
    
}

#no{
    position: absolute;
    top:20%;
    left:30px;

}
.btn{
    background-color:#036A82;
    color:white;
    width:70px;
    height: 60px;
    
    font-size:25px;
    cursor: pointer;
    margin-top:3px;
}
.btn:hover{
    background-color:#316672;
}
#equal {
    width:140px;
    font-size:30px;
}