body {
    margin:0;
    padding: 0;
    background-image: url(1.jpg);
}

#main{
    width:350px;
    height: 420px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:rgb(5, 2, 5);
    border:10px solid white;
    border-radius: 10px;
    box-shadow: 10px 0px 30px rgba(0, 0, 0, .4);

}

#calc{
    outline:none;
    background:#4b176d;
    position: absolute;
    top:5%;
    left:9%;
    width:290px;
    height: 50px;
    text-align: left;
    color:white;
    font-size:25px;
    font-family: 'Courier New', Courier, monospace;
    
}

#no{
    position: absolute;
    top:20%;
    left:30px;

}
.btn{
    background-color:#4b176d
    ;
    color:white;
    width:70px;
    height: 60px;
    border:2px solid white;
    font-size:25px;
    cursor: pointer;
    margin-top:3px;
}
.btn:hover{
    background-color:#316672;
}
#equal {
    width:140px;
    font-size:30px;
}

.githubCode {
    width:200px;
    height: 60px;
    background-color:rgba(143, 143, 140, 0.863);
    position: absolute;
    top:85%;
    right:5%;
    z-index:0;
    border-radius: 20%;
}
.githubCode i {
    font-size: 30px;
    color:rgb(255, 244, 244);
    cursor: pointer;
    display: inline;
    position: absolute;
    top:20%;
    right:5%;
    z-index:11;
}
.githubCode i:hover {
    color:blue;
}

.githubCode p {
    z-index:111;
    display: none;
    color:white;
    font-family: monospace;
    position: absolute;
    top:20%;
    right:0%;
    transition: all .6s ease-out;

    
}